/* || COLORS */
/* primary */
/* secondary*/
/* neutral */
/* font colors */
/* backgrounds */
/* || SHADOWS */
html {
  box-sizing: border-box;
  font-size: 8px;
}
@media (max-width: 75em) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 46%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 54%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: "Inter", sans-serif;
}

.admin-tab {
  background-color: #d4e3d3;
  color: #686868;
  padding: 1rem 2.5rem 0.6rem;
  font-size: 1.2rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.admin-tab__trust-elements,
.admin-tab__nav-menu {
  display: flex;
  gap: 3rem;
}

.admin-tab__icon {
  margin-right: -2px;
}

.admin-tab__trust-element,
.admin-tab__nav-item {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.admin-tab__cart-counter {
  background-color: #686868;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #f1eeda;
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
}

.admin-tab__button {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #686868;
  font-size: inherit;
}
.admin-tab__button:hover > .admin-tab__icon {
  color: #163730;
}
.admin-tab__button:hover > .admin-tab__cart-counter {
  background-color: #163730;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 3;
  background-color: #f1eeda;
  color: #292929;
  width: 100vw;
  padding: 1rem 2.5rem 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1rem 1rem;
}

@supports (animation-timeline: scroll()) {
  header {
    animation: scroll-shadow linear both;
    animation-timeline: scroll();
    animation-range: 0ex 5ex;
  }
  @keyframes scroll-shadow {
    from {
      box-shadow: none;
    }
    to {
      box-shadow: rgba(0, 0, 0, 0.1) 0 1rem 1rem;
    }
  }
}
.header__main-nav-menu {
  font-family: "k2d", sans-serif;
  font-size: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__nav-item,
.header__toolbar-item {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header__nav-link {
  color: #292929;
}

.header__logotype {
  font-family: "cinzel", serif;
  letter-spacing: 100%;
  color: #000463;
  font-size: 4rem;
}

.header__toolbar-menu {
  display: flex;
  gap: 2.5rem;
}

.header__cart-counter {
  background-color: #163730;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #f1eeda;
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
}

.hero {
  height: 80vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background: blue url("../../assets/images/hero/hero-bg.jpg");
  background-size: cover;
  background-position: top;
}

.hero__bg {
  display: grid;
  grid-template-areas: "empty img" "content img";
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.hero__content {
  grid-area: content;
  display: inline;
  flex-flow: column nowrap;
  justify-content: end;
  align-items: flex-start;
}

.hero__image-container {
  grid-area: img;
  display: flex;
  align-items: center;
}

.btn {
  background-color: #163730;
}

/* || ELEMENTS */
/* No standalone meaning - semantically tied to the block */
/* Does not represent structure (not: header__nav__nav-item__btn) */
/* || MODIFIERS */
/* incremental style changes */
/* Blocks with modifiers */
.btn--secondary {
  background-color: #ea5333;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.item-btn {
  cursor: pointer;
  border: solid 1px #292929;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  border-radius: 1.5rem;
  background-color: #f1eeda;
  color: #163730;
  text-transform: uppercase;
}

.category__gallery {
  display: grid;
  gap: 1.5rem;
  padding: 0 1.5rem 1.5rem;
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1.5rem;
  scrollbar-gutter: stable;
}
@media (max-width: 75em) {
  .category__gallery {
    grid-auto-columns: 31%;
  }
}
@media (max-width: 37.5em) {
  .category__gallery {
    grid-auto-columns: 45%;
  }
}

.category__gallery:hover {
  scrollbar-gutter: stable;
}

.category__item-card {
  display: grid;
  padding: 1.5rem;
  border-radius: 3rem;
  gap: 1.5rem;
  justify-content: center;
  align-items: stretch;
  background-color: #f1eeda;
  scroll-snap-align: start;
}

.category__item-picture {
  border-radius: 1.5rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.category__item-picture > img {
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.category__item-description {
  display: flex;
  justify-content: space-between;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

/* done >> _layout */
body {
  overscroll-behavior: none;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

/* done >> _layout */
section {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 2rem;
}

.category {
  display: flex;
  flex-flow: column nowrap;
}

/*# sourceMappingURL=styles.css.map */
