@use "../abstracts/colors";

.btn {
  background-color: colors.$primary-main;
}

/* || ELEMENTS */
/* No standalone meaning - semantically tied to the block */
/* Does not represent structure (not: header__nav__nav-item__btn) */

/* || MODIFIERS */
/* incremental style changes */
/* Blocks with modifiers */

.btn--secondary {
  background-color: colors.$secondary-main;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
