@use "../abstracts/colors" as *;

.hero {
  height: 80vh;
  width: 100vw;
  position: relative;

  overflow: hidden;
  background: blue url("../../assets/images/hero/hero-bg.jpg");

  background-size: cover;
  background-position: top;
}
