@use "../abstracts/colors" as *;

.hero {
  min-height: 80vh;
  width: 100vw;
  position: relative;

  overflow: hidden;
  background: blue url("../../assets/images/hero/hero-bg.jpg");

  background-size: cover;
  background-position: top;
}

.hero__bg {
  display: grid;
  grid-template-areas: "empty img" "content img";
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.hero__content {
  grid-area: content;
  display: inline;
  flex-flow: column nowrap;
  justify-content: end;
  align-items: flex-start;
}

.hero__image-container {
  grid-area: img;
  display: flex;
  align-items: center;
}
