@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as *;
@use "../abstracts/media-queries" as *;

.reviews__gallery {
  $spacer-local: var.$spacer;

  display: grid;
  gap: $spacer-local;
  padding: 0 $spacer-local $spacer-local;
  grid-auto-flow: column;
  grid-auto-columns: 19%;
  @include respond(tablet-landscape) {
    grid-auto-columns: 24%;
  }
  @include respond(phone) {
    grid-auto-columns: 100%;
  }

  overflow-x: auto;
  overscroll-behavior-inline: contain;
  @include snap-scroll-x-parent;

  scrollbar-gutter: stable;
  //  @include custom-scrollbar-style(transparent, transparent, transparent);
}

.reviews__gallery:hover {
  scrollbar-gutter: stable;
  //  @include custom-scrollbar-style;
}
