@use "../abstracts/mixins" as *;
@use "../abstracts/media-queries" as *;

html {
  box-sizing: border-box;

  font-size: 8px;

  scroll-behavior: smooth;

  @include respond(tablet-landscape) {
    font-size: 52%;
  }
  @include respond(tablet-portrait) {
    font-size: 46%;
  }
  @include respond(phone) {
    font-size: 40%;
  }
  @include respond(large-screen) {
    font-size: 54%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
