/* done >> _layout */
body {
  overscroll-behavior: none;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

/* done >> _layout */
section {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 2rem;
}

.category {
  display: flex;
  flex-flow: column nowrap;
}

.category__gallery {
  display: flex;
  overflow-x: scroll;
  scrollbar-gutter: stable;
  // hide scrollbar for different browsers
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // IE, Edge
  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }
}
