/* || COLORS */
/* primary */
$primary-main: #163730;
$primary-tint: #296659;
$primary-shade: #112c26;
/* secondary*/
$secondary-main: #ea5333;
$secondary-tint: #ec6246;
$secondary-shade: #e84321;
/* neutral */
$neutral-grey: #adadad;
$neutral-green: #98d7b7;
$neutral-orange: #d29766;
/* font colors */
$type-dark: #292929;
$type-light: #f1eeda;
$type-medium: #686868;
$type-logotype: #000463;
/* backgrounds */
$bg-white: #f2f2f2;
$bg-beige: #f1eeda;
$bg-dark-grey: $type-dark;
$bg-green: #d4e3d3;
$bg-blue: #b4cfcf;

/* || SHADOWS */
$header-shadow: rgba(0, 0, 0, 0.1) 0 1rem 1rem;
