// FONT VARIABLES

// Cinzel, Bold
// -2% letter spacing,
$logotype: "Cinzel", serif;

// Inter, medium,
// 4% letter spacing,
// Line height: 20px, font-size: 12px;
$body-text: "Tahoma", sans-serif;

// Play, regular, uppercase
$cta: "Play", sans-serif;

// K2D, regular
$title: "K2D", sans-serif;

// Play, bold
$promo-heading: "Play", sans-serif;
