// buttons abstract: size, border, color, background, font, etc.
@use "colors" as *;
@use "variables" as var;

// Modals, Popus, Alerts, etc.
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Clearing floats:
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin reset-button(
  $radius,
  $bg-color,
  $text-color,
  $text-transform,
  $border-color: $type-dark
) {
  cursor: pointer;
  border: solid 1px $border-color;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  // custom
  border-radius: $radius;
  background-color: $bg-color;
  color: $text-color;
  text-transform: $text-transform;
}

@mixin reset-card(
  $justify-content,
  $align-items,
  $bg-color,
  $grid-gap,
  $padding: var.$card-radius-gap,
  $radius: var.$card-radius-outer
) {
  display: grid;
  // optional
  padding: $padding;
  border-radius: $radius;
  // custom
  gap: $grid-gap;
  justify-content: $justify-content;
  align-items: $align-items;
  background-color: $bg-color;
}

@mixin reset-list-item {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

@mixin reset-cart-counter($bg-color: $type-medium) {
  background-color: $bg-color;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: $type-light;
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
}

@mixin snap-scroll-x-parent {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var.$spacer;
}

@mixin snap-scroll-x-child {
  scroll-snap-align: start;
}

@mixin custom-scrollbar-style(
  $bg-track: $bg-green,
  $bg-thumb: lighten($primary-tint, 20%),
  $bg-thumb-border: $bg-green
) {
  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  &::-webkit-scrollbar-track {
    background: $bg-track;
    border-radius: 100vw;
    margin-block: var.$spacer;
    margin-inline: var.$spacer;
  }

  &::-webkit-scrollbar-thumb {
    background: $bg-thumb;
    border-radius: 100vw;
    border: solid 0.1em $bg-thumb-border;
  }
}
